In [1]:
import pandas as pd
import numpy as np

In [11]:
# Call file
ruoa = pd.read_csv('../002_datos/ruoa.txt',skiprows=4,delimiter="\t",usecols=[0,1,2,3,4,8,9],
                   names=['tiempo','To','hr','ws','wd','P','Ig'],index_col=0,parse_dates=True)
# Set index
ruoa.sort_index(inplace=True)
# Resample with 6 timestep
ruoa = ruoa.resample("600S").interpolate(method='time')
ruoa

                        To     hr     ws       wd         P     Ig
tiempo
2019-01-01 00:00:00  18.43  45.43  1.810    2.165  874.4158 -2.051
2019-01-01 00:10:00  18.10  46.67  0.630  351.200  874.2733 -1.231
2019-01-01 00:20:00  18.28  44.89  0.398   72.240  874.3037 -1.641
2019-01-01 00:30:00  17.92  47.84  0.452  240.300  874.1873 -1.641
2019-01-01 00:40:00  17.66  48.02  0.978  296.800  874.0617 -1.641
...                    ...    ...    ...      ...       ...    ...
2019-12-06 23:10:00  19.73  82.50  4.058  196.700  876.1521 -1.436
2019-12-06 23:20:00  19.87  82.10  1.423  266.800  876.4355 -1.231
2019-12-06 23:30:00  19.40  85.00  4.758  281.300  876.7878 -0.239
2019-12-06 23:40:00  19.21  83.70  3.077  284.200  876.8157 -0.615
2019-12-06 23:50:00  19.32  82.20  2.693  241.800  877.0950 -0.991

[48960 rows x 6 columns]

In [19]:
# Change every value of the Radiation to 0
for i in np.arange(0,48960,1):
    ruoa.Ig.replace(to_replace=ruoa.Ig[i],value=0,inplace=True)
    
ruoa

                        To     hr     ws       wd         P   Ig
tiempo
2019-01-01 00:00:00  18.43  45.43  1.810    2.165  874.4158  0.0
2019-01-01 00:10:00  18.10  46.67  0.630  351.200  874.2733  0.0
2019-01-01 00:20:00  18.28  44.89  0.398   72.240  874.3037  0.0
2019-01-01 00:30:00  17.92  47.84  0.452  240.300  874.1873  0.0
2019-01-01 00:40:00  17.66  48.02  0.978  296.800  874.0617  0.0
...                    ...    ...    ...      ...       ...  ...
2019-12-06 23:10:00  19.73  82.50  4.058  196.700  876.1521  0.0
2019-12-06 23:20:00  19.87  82.10  1.423  266.800  876.4355  0.0
2019-12-06 23:30:00  19.40  85.00  4.758  281.300  876.7878  0.0
2019-12-06 23:40:00  19.21  83.70  3.077  284.200  876.8157  0.0
2019-12-06 23:50:00  19.32  82.20  2.693  241.800  877.0950  0.0

[48960 rows x 6 columns]

In [20]:
ruoa.to_csv('../002_datos/ruoafile.csv')