In [1]:
import pandas as pd
import numpy as np

In [2]:
# Call file
ruoa = pd.read_csv('../002_datos/ruoafile.csv',index_col=0,parse_dates=True)
ruoa

                        To     hr     ws       wd        Pr  Igb
tiempo
2019-01-01 00:00:00  18.43  45.43  1.810    2.165  87441.58  0.0
2019-01-01 00:10:00  18.10  46.67  0.630  351.200  87427.33  0.0
2019-01-01 00:20:00  18.28  44.89  0.398   72.240  87430.37  0.0
2019-01-01 00:30:00  17.92  47.84  0.452  240.300  87418.73  0.0
2019-01-01 00:40:00  17.66  48.02  0.978  296.800  87406.17  0.0
...                    ...    ...    ...      ...       ...  ...
2019-12-06 23:10:00  19.73  82.50  4.058  196.700  87615.21  0.0
2019-12-06 23:20:00  19.87  82.10  1.423  266.800  87643.55  0.0
2019-12-06 23:30:00  19.40  85.00  4.758  281.300  87678.78  0.0
2019-12-06 23:40:00  19.21  83.70  3.077  284.200  87681.57  0.0
2019-12-06 23:50:00  19.32  82.20  2.693  241.800  87709.50  0.0

[48960 rows x 6 columns]

In [3]:
# Split year. month, day, minute, second
ruoa['year']=ruoa.index.year
ruoa['month']=ruoa.index.month
ruoa['day']=ruoa.index.day
ruoa['hour']=ruoa.index.hour
ruoa['minute']=ruoa.index.minute

# Rearange the columns
data = ruoa.copy()
data = data[['year','month','day','hour','minute','To','hr','ws','wd','Pr','Igb']]

In [4]:
data

,year,month,day,hour,minute,To,hr,ws,wd,Pr,Igb
tiempo,,,,,,,,,,,
2019-01-01 00:00:00,2019,1,1,0,0,18.43,45.43,1.810,2.165,87441.58,0.0
2019-01-01 00:10:00,2019,1,1,0,10,18.10,46.67,0.630,351.200,87427.33,0.0
2019-01-01 00:20:00,2019,1,1,0,20,18.28,44.89,0.398,72.240,87430.37,0.0
2019-01-01 00:30:00,2019,1,1,0,30,17.92,47.84,0.452,240.300,87418.73,0.0
2019-01-01 00:40:00,2019,1,1,0,40,17.66,48.02,0.978,296.800,87406.17,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2019-12-06 23:10:00,2019,12,6,23,10,19.73,82.50,4.058,196.700,87615.21,0.0
2019-12-06 23:20:00,2019,12,6,23,20,19.87,82.10,1.423,266.800,87643.55,0.0
2019-12-06 23:30:00,2019,12,6,23,30,19.40,85.00,4.758,281.300,87678.78,0.0
2019-12-06 23:40:00,2019,12,6,23,40,19.21,83.70,3.077,284.200,87681.57,0.0
2019-12-06 23:50:00,2019,12,6,23,50,19.32,82.20,2.693,241.800,87709.50,0.0

In [5]:
data.to_csv('../002_datos/dataruoa.csv')