In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from dateutil.parser import parse
import numpy as np

In [2]:
# Leo archivo de datos limpios
data = pd.read_csv('../002_datos/datalimpia.csv',index_col=0,parse_dates=True)
data

,Idirecta,Iglobal,Idifusa,UV,To,HR,Wspeed,P
tiempo,,,,,,,,
2019-05-03 00:00:00,0.000,0.000,0.0,0.186,23.02,47.67,3.463,87600.16
2019-05-03 00:10:00,0.000,0.000,0.0,0.183,22.95,48.15,2.541,87595.97
2019-05-03 00:20:00,0.000,0.000,0.0,0.184,23.01,47.78,1.763,87589.49
2019-05-03 00:30:00,0.000,0.000,0.0,0.183,22.83,47.67,2.161,87585.36
2019-05-03 00:40:00,0.000,0.000,0.0,0.185,22.69,48.32,1.409,87563.32
...,...,...,...,...,...,...,...,...
2019-06-24 23:20:00,0.132,0.000,0.0,0.000,23.52,76.54,0.467,87712.98
2019-06-24 23:30:00,0.150,0.000,0.0,0.000,23.54,77.08,0.427,87711.32
2019-06-24 23:40:00,0.112,0.000,0.0,0.000,23.39,79.91,0.578,87708.11
2019-06-24 23:50:00,0.155,0.000,0.0,0.000,23.16,80.50,2.258,87710.50
2019-06-25 00:00:00,0.012,0.184,0.0,0.000,22.48,84.40,2.867,87687.62

In [3]:
len(data.index)

7633

In [4]:
# separo la columna de tiempo para ternerla por separado
data['year']=data.index.year
data['month']=data.index.month
data['day']=data.index.day
data['hour']=data.index.hour
data['minute']=data.index.minute

In [5]:
data

,Idirecta,Iglobal,Idifusa,UV,To,HR,Wspeed,P,year,month,day,hour,minute
tiempo,,,,,,,,,,,,,
2019-05-03 00:00:00,0.000,0.000,0.0,0.186,23.02,47.67,3.463,87600.16,2019,5,3,0,0
2019-05-03 00:10:00,0.000,0.000,0.0,0.183,22.95,48.15,2.541,87595.97,2019,5,3,0,10
2019-05-03 00:20:00,0.000,0.000,0.0,0.184,23.01,47.78,1.763,87589.49,2019,5,3,0,20
2019-05-03 00:30:00,0.000,0.000,0.0,0.183,22.83,47.67,2.161,87585.36,2019,5,3,0,30
2019-05-03 00:40:00,0.000,0.000,0.0,0.185,22.69,48.32,1.409,87563.32,2019,5,3,0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-24 23:20:00,0.132,0.000,0.0,0.000,23.52,76.54,0.467,87712.98,2019,6,24,23,20
2019-06-24 23:30:00,0.150,0.000,0.0,0.000,23.54,77.08,0.427,87711.32,2019,6,24,23,30
2019-06-24 23:40:00,0.112,0.000,0.0,0.000,23.39,79.91,0.578,87708.11,2019,6,24,23,40
2019-06-24 23:50:00,0.155,0.000,0.0,0.000,23.16,80.50,2.258,87710.50,2019,6,24,23,50
2019-06-25 00:00:00,0.012,0.184,0.0,0.000,22.48,84.40,2.867,87687.62,2019,6,25,0,0

In [6]:
# Drop columns of time an row of titles for csv file for epw file
datac = data.copy()
datac = data[['year','month','day','hour','minute','Idirecta','Iglobal','Idifusa',
        'UV','To','HR','Wspeed','P']]
datac

,year,month,day,hour,minute,Idirecta,Iglobal,Idifusa,UV,To,HR,Wspeed,P
tiempo,,,,,,,,,,,,,
2019-05-03 00:00:00,2019,5,3,0,0,0.000,0.000,0.0,0.186,23.02,47.67,3.463,87600.16
2019-05-03 00:10:00,2019,5,3,0,10,0.000,0.000,0.0,0.183,22.95,48.15,2.541,87595.97
2019-05-03 00:20:00,2019,5,3,0,20,0.000,0.000,0.0,0.184,23.01,47.78,1.763,87589.49
2019-05-03 00:30:00,2019,5,3,0,30,0.000,0.000,0.0,0.183,22.83,47.67,2.161,87585.36
2019-05-03 00:40:00,2019,5,3,0,40,0.000,0.000,0.0,0.185,22.69,48.32,1.409,87563.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-24 23:20:00,2019,6,24,23,20,0.132,0.000,0.0,0.000,23.52,76.54,0.467,87712.98
2019-06-24 23:30:00,2019,6,24,23,30,0.150,0.000,0.0,0.000,23.54,77.08,0.427,87711.32
2019-06-24 23:40:00,2019,6,24,23,40,0.112,0.000,0.0,0.000,23.39,79.91,0.578,87708.11
2019-06-24 23:50:00,2019,6,24,23,50,0.155,0.000,0.0,0.000,23.16,80.50,2.258,87710.50
2019-06-25 00:00:00,2019,6,25,0,0,0.012,0.184,0.0,0.000,22.48,84.40,2.867,87687.62

In [7]:
datac.to_csv('../002_datos/splitdata.csv')