In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from dateutil.parser import parse
import numpy as np

In [2]:
# Leo archivo de datos limpios
data = pd.read_csv('../data/datalimpia.csv',index_col=0,parse_dates=True)
data

,Idirecta,Iglobal,Idifusa,UV,To,HR,Wspeed,Presion
tiempo,,,,,,,,
2019-03-05 00:00:00,0.000,0.000,0.0,0.186,23.02,47.67,3.463,876.0016
2019-03-05 00:10:00,0.000,0.000,0.0,0.183,22.95,48.15,2.541,875.9597
2019-03-05 00:20:00,0.000,0.000,0.0,0.184,23.01,47.78,1.763,875.8949
2019-03-05 00:30:00,0.000,0.000,0.0,0.183,22.83,47.67,2.161,875.8536
2019-03-05 00:40:00,0.000,0.000,0.0,0.185,22.69,48.32,1.409,875.6332
...,...,...,...,...,...,...,...,...
2019-06-24 23:20:00,0.132,0.000,0.0,0.000,23.52,76.54,0.467,877.1298
2019-06-24 23:30:00,0.150,0.000,0.0,0.000,23.54,77.08,0.427,877.1132
2019-06-24 23:40:00,0.112,0.000,0.0,0.000,23.39,79.91,0.578,877.0811
2019-06-24 23:50:00,0.155,0.000,0.0,0.000,23.16,80.50,2.258,877.1050
2019-06-25 00:00:00,0.012,0.184,0.0,0.000,22.48,84.40,2.867,876.8762

In [3]:
# separo la columna de tiempo para ternerla por separado
data['year']=data.index.year
data['month']=data.index.month
data['day']=data.index.day
data['hour']=data.index.hour
data['minute']=data.index.minute

In [4]:
data

,Idirecta,Iglobal,Idifusa,UV,To,HR,Wspeed,Presion,year,month,day,hour,minute
tiempo,,,,,,,,,,,,,
2019-03-05 00:00:00,0.000,0.000,0.0,0.186,23.02,47.67,3.463,876.0016,2019,3,5,0,0
2019-03-05 00:10:00,0.000,0.000,0.0,0.183,22.95,48.15,2.541,875.9597,2019,3,5,0,10
2019-03-05 00:20:00,0.000,0.000,0.0,0.184,23.01,47.78,1.763,875.8949,2019,3,5,0,20
2019-03-05 00:30:00,0.000,0.000,0.0,0.183,22.83,47.67,2.161,875.8536,2019,3,5,0,30
2019-03-05 00:40:00,0.000,0.000,0.0,0.185,22.69,48.32,1.409,875.6332,2019,3,5,0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-24 23:20:00,0.132,0.000,0.0,0.000,23.52,76.54,0.467,877.1298,2019,6,24,23,20
2019-06-24 23:30:00,0.150,0.000,0.0,0.000,23.54,77.08,0.427,877.1132,2019,6,24,23,30
2019-06-24 23:40:00,0.112,0.000,0.0,0.000,23.39,79.91,0.578,877.0811,2019,6,24,23,40
2019-06-24 23:50:00,0.155,0.000,0.0,0.000,23.16,80.50,2.258,877.1050,2019,6,24,23,50
2019-06-25 00:00:00,0.012,0.184,0.0,0.000,22.48,84.40,2.867,876.8762,2019,6,25,0,0

In [5]:
# Drop columns of time an row of titles for csv file for epw file
datac = data.copy()
datac = data[['year','month','day','hour','minute','Idirecta','Iglobal','Idifusa',
        'UV','To','HR','Wspeed','Presion']]
datac

,year,month,day,hour,minute,Idirecta,Iglobal,Idifusa,UV,To,HR,Wspeed,Presion
tiempo,,,,,,,,,,,,,
2019-03-05 00:00:00,2019,3,5,0,0,0.000,0.000,0.0,0.186,23.02,47.67,3.463,876.0016
2019-03-05 00:10:00,2019,3,5,0,10,0.000,0.000,0.0,0.183,22.95,48.15,2.541,875.9597
2019-03-05 00:20:00,2019,3,5,0,20,0.000,0.000,0.0,0.184,23.01,47.78,1.763,875.8949
2019-03-05 00:30:00,2019,3,5,0,30,0.000,0.000,0.0,0.183,22.83,47.67,2.161,875.8536
2019-03-05 00:40:00,2019,3,5,0,40,0.000,0.000,0.0,0.185,22.69,48.32,1.409,875.6332
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-24 23:20:00,2019,6,24,23,20,0.132,0.000,0.0,0.000,23.52,76.54,0.467,877.1298
2019-06-24 23:30:00,2019,6,24,23,30,0.150,0.000,0.0,0.000,23.54,77.08,0.427,877.1132
2019-06-24 23:40:00,2019,6,24,23,40,0.112,0.000,0.0,0.000,23.39,79.91,0.578,877.0811
2019-06-24 23:50:00,2019,6,24,23,50,0.155,0.000,0.0,0.000,23.16,80.50,2.258,877.1050
2019-06-25 00:00:00,2019,6,25,0,0,0.012,0.184,0.0,0.000,22.48,84.40,2.867,876.8762

In [7]:
datac.to_csv('../data/splitdata.csv')