In [2]:
import pandas as pd
import numpy as np

In [4]:
# Call file
data = pd.read_csv('../002_datos/dataruoa.csv')
data.drop('tiempo',axis='columns',inplace=True)
data

,year,month,day,hour,minute,To,hr,ws,wd,P,Ig
0,2019,1,1,0,0,18.43,45.43,1.810,2.165,874.4158,0.0
1,2019,1,1,0,10,18.10,46.67,0.630,351.200,874.2733,0.0
2,2019,1,1,0,20,18.28,44.89,0.398,72.240,874.3037,0.0
3,2019,1,1,0,30,17.92,47.84,0.452,240.300,874.1873,0.0
4,2019,1,1,0,40,17.66,48.02,0.978,296.800,874.0617,0.0
...,...,...,...,...,...,...,...,...,...,...,...
48955,2019,12,6,23,10,19.73,82.50,4.058,196.700,876.1521,0.0
48956,2019,12,6,23,20,19.87,82.10,1.423,266.800,876.4355,0.0
48957,2019,12,6,23,30,19.40,85.00,4.758,281.300,876.7878,0.0
48958,2019,12,6,23,40,19.21,83.70,3.077,284.200,876.8157,0.0
48959,2019,12,6,23,50,19.32,82.20,2.693,241.800,877.0950,0.0

In [5]:
data.to_csv('../epw/TemixcoRUOA.csv',header=False,index=False)