In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from dateutil.parser import parse
import numpy as np

In [2]:
ruoa       = pd.read_csv('../002_datos/ruoafile.csv',index_col=0,parse_dates=True)
split_ruoa = ruoa.truncate(before='2019-05-03 00:00:00',after='2019-06-25 00:00:00')
split_ruoa.drop(['To','hr','Igb','Pr'],axis='columns',inplace=True)
split_ruoa.to_csv('../002_datos/truncateruoa.csv')
#split_ruoa

In [11]:
esolmet  = pd.read_csv('../002_datos/datalimpia.csv',index_col=0,parse_dates=True)
# Drop columns
esolmet.drop(['UV','Wspeed'],axis='columns',inplace=True)
#esolmet

In [4]:
datos = pd.concat([esolmet,split_ruoa],axis=1)
datos

,Idirecta,Iglobal,Idifusa,To,HR,P,ws,wd
tiempo,,,,,,,,
2019-05-03 00:00:00,0.000,0.000,0.0,23.02,47.67,87600.16,2.157,56.42
2019-05-03 00:10:00,0.000,0.000,0.0,22.95,48.15,87595.97,1.538,80.30
2019-05-03 00:20:00,0.000,0.000,0.0,23.01,47.78,87589.49,1.508,90.30
2019-05-03 00:30:00,0.000,0.000,0.0,22.83,47.67,87585.36,1.268,67.20
2019-05-03 00:40:00,0.000,0.000,0.0,22.69,48.32,87563.32,1.432,33.38
...,...,...,...,...,...,...,...,...
2019-06-24 23:20:00,0.132,0.000,0.0,23.52,76.54,87712.98,0.660,233.70
2019-06-24 23:30:00,0.150,0.000,0.0,23.54,77.08,87711.32,1.298,227.40
2019-06-24 23:40:00,0.112,0.000,0.0,23.39,79.91,87708.11,2.652,192.30
2019-06-24 23:50:00,0.155,0.000,0.0,23.16,80.50,87710.50,3.322,144.50
2019-06-25 00:00:00,0.012,0.184,0.0,22.48,84.40,87687.62,3.170,141.50

In [5]:
datos.to_csv('../002_datos/concatEsolmetRuoa.csv')

In [6]:
data = pd.read_csv('../002_datos/concatEsolmetRuoa.csv',index_col=0,parse_dates=True)
data

,Idirecta,Iglobal,Idifusa,To,HR,P,ws,wd
tiempo,,,,,,,,
2019-05-03 00:00:00,0.000,0.000,0.0,23.02,47.67,87600.16,2.157,56.42
2019-05-03 00:10:00,0.000,0.000,0.0,22.95,48.15,87595.97,1.538,80.30
2019-05-03 00:20:00,0.000,0.000,0.0,23.01,47.78,87589.49,1.508,90.30
2019-05-03 00:30:00,0.000,0.000,0.0,22.83,47.67,87585.36,1.268,67.20
2019-05-03 00:40:00,0.000,0.000,0.0,22.69,48.32,87563.32,1.432,33.38
...,...,...,...,...,...,...,...,...
2019-06-24 23:20:00,0.132,0.000,0.0,23.52,76.54,87712.98,0.660,233.70
2019-06-24 23:30:00,0.150,0.000,0.0,23.54,77.08,87711.32,1.298,227.40
2019-06-24 23:40:00,0.112,0.000,0.0,23.39,79.91,87708.11,2.652,192.30
2019-06-24 23:50:00,0.155,0.000,0.0,23.16,80.50,87710.50,3.322,144.50
2019-06-25 00:00:00,0.012,0.184,0.0,22.48,84.40,87687.62,3.170,141.50

In [7]:
# Split year. month, day, minute, second
data['year']=data.index.year
data['month']=data.index.month
data['day']=data.index.day
data['hour']=data.index.hour
data['minute']=data.index.minute

# Rearange the columns
datac = data.copy()
datac = datac[['year','month','day','hour','minute','Idirecta','Iglobal','Idifusa',
             'To','HR','ws','wd','P']]

In [8]:
datac

,year,month,day,hour,minute,Idirecta,Iglobal,Idifusa,To,HR,ws,wd,P
tiempo,,,,,,,,,,,,,
2019-05-03 00:00:00,2019,5,3,0,0,0.000,0.000,0.0,23.02,47.67,2.157,56.42,87600.16
2019-05-03 00:10:00,2019,5,3,0,10,0.000,0.000,0.0,22.95,48.15,1.538,80.30,87595.97
2019-05-03 00:20:00,2019,5,3,0,20,0.000,0.000,0.0,23.01,47.78,1.508,90.30,87589.49
2019-05-03 00:30:00,2019,5,3,0,30,0.000,0.000,0.0,22.83,47.67,1.268,67.20,87585.36
2019-05-03 00:40:00,2019,5,3,0,40,0.000,0.000,0.0,22.69,48.32,1.432,33.38,87563.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-24 23:20:00,2019,6,24,23,20,0.132,0.000,0.0,23.52,76.54,0.660,233.70,87712.98
2019-06-24 23:30:00,2019,6,24,23,30,0.150,0.000,0.0,23.54,77.08,1.298,227.40,87711.32
2019-06-24 23:40:00,2019,6,24,23,40,0.112,0.000,0.0,23.39,79.91,2.652,192.30,87708.11
2019-06-24 23:50:00,2019,6,24,23,50,0.155,0.000,0.0,23.16,80.50,3.322,144.50,87710.50
2019-06-25 00:00:00,2019,6,25,0,0,0.012,0.184,0.0,22.48,84.40,3.170,141.50,87687.62

In [9]:
datac.to_csv('../002_datos/esolmetruoasplit.csv')