In [1]:
import pandas as pd
import numpy as np

In [2]:
# Call file
data = pd.read_csv('../002_datos/esolmetruoasplit.csv')
data.drop('tiempo',axis='columns',inplace=True)
data

,year,month,day,hour,minute,Idirecta,Iglobal,Idifusa,To,HR,ws,wd,P
0,2019,5,3,0,0,0.000,0.000,0.0,23.02,47.67,2.157,56.42,87600.16
1,2019,5,3,0,10,0.000,0.000,0.0,22.95,48.15,1.538,80.30,87595.97
2,2019,5,3,0,20,0.000,0.000,0.0,23.01,47.78,1.508,90.30,87589.49
3,2019,5,3,0,30,0.000,0.000,0.0,22.83,47.67,1.268,67.20,87585.36
4,2019,5,3,0,40,0.000,0.000,0.0,22.69,48.32,1.432,33.38,87563.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7628,2019,6,24,23,20,0.132,0.000,0.0,23.52,76.54,0.660,233.70,87712.98
7629,2019,6,24,23,30,0.150,0.000,0.0,23.54,77.08,1.298,227.40,87711.32
7630,2019,6,24,23,40,0.112,0.000,0.0,23.39,79.91,2.652,192.30,87708.11
7631,2019,6,24,23,50,0.155,0.000,0.0,23.16,80.50,3.322,144.50,87710.50
7632,2019,6,25,0,0,0.012,0.184,0.0,22.48,84.40,3.170,141.50,87687.62

In [3]:
data.to_csv('../epw/esolmetruoa/esolmetruoa.csv',header=False,index=False)

In [5]:
len(data.year)

7633